<ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label floating>Firstname</ion-label>
          <ion-input [(ngModel)]="firstname" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Lastname</ion-label>
          <ion-input [(ngModel)]="lastname" type="text" value=""></ion-input>
        </ion-item>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button color="light" (click)="cancel($event)">Cancel</button>
        <button ion-button color="light" (click)="register($event)">Submit</button>
      </ion-item>

    </ion-list>
</ion-content>
