<!--
  Generated template for the MainConceptNew page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Concept</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
      <ion-list>

        <ion-item>
          <ion-label floating>Main Concept</ion-label>
          <ion-input [(ngModel)]="name" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Main Concept Definition</ion-label>
          <ion-input [(ngModel)]="definition" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 1</ion-label>
          <ion-input [(ngModel)]="relatedConcept1" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 1 Description</ion-label>
          <ion-input [(ngModel)]="relation1Description" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 2</ion-label>
          <ion-input [(ngModel)]="relatedConcept2" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 2 Description</ion-label>
          <ion-input [(ngModel)]="relation2Description" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 3</ion-label>
          <ion-input [(ngModel)]="relatedConcept3" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 3 Description</ion-label>
          <ion-input [(ngModel)]="relation3Description" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 4</ion-label>
          <ion-input [(ngModel)]="relatedConcept4" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Related Concept 4 Description</ion-label>
          <ion-input [(ngModel)]="relation4Description" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button color="danger" (click)="cancel()">Cancel</button>
          <button ion-button color="default" (click)="save()">Save</button>
        </ion-item>

      </ion-list>
</ion-content>
