.card-layout {
  ion-card-content {
    font-size: 16px;
  }
}

.definition-card {
  ion-card-header {
    background-color: #f1f0f0;
    color: #000000;
  }
  ion-card-content {
    background-color: #f1f0f0;
  }
}

/*  variables
//$font-bold: 700;

.card-heading {
    ion-card-header {
      font-weight: bold;
    }
  /* Works as expected and does not generate a faux bold font */
