<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>My Concepts</ion-title>

    <ion-buttons end clear>
      <button (click)="openSortOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of mainConcepts">

    <ion-item-sliding>

      <ion-item>
        <h2 (click)="openDetailsPage($event, item)">{{item.name}}</h2>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="danger" clear (click)="deleteConcept($event, item)">
          <ion-icon name="remove-circle"></ion-icon>
          Delete
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="primary" icon-left clear (click)="openMainConceptEditPage($event, item)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<!--

<button ion-item *ngFor="let item of mainConcepts" (click)="itemTapped($event, item)">
  <ion-icon name="{{item.icon}}" item-left></ion-icon>
  {{item.title}}
  <div class="item-note" item-right>
    {{item.note}}
  </div>
</button>


-->
