<!--
  Generated template for the MainConceptDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-layout" padding>
  <ion-card class="definition-card">
    <ion-card-content>
      {{selectedItem.definition}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{selectedItem.relatedConcept1}}</ion-card-header>
    <ion-card-content>
      {{selectedItem.relation1Description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{selectedItem.relatedConcept2}}</ion-card-header>
    <ion-card-content>
      {{selectedItem.relation2Description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{selectedItem.relatedConcept3}}</ion-card-header>
    <ion-card-content>
      {{selectedItem.relation3Description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{selectedItem.relatedConcept4}}</ion-card-header>
    <ion-card-content>
      {{selectedItem.relation4Description}}
    </ion-card-content>
  </ion-card>


</ion-content>
