<!--
  Generated template for the SortOptions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Options</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- RAH
  <ion-list radio-group [(ngModel)]="sortParam">
    <ion-list-header>
      This is a list header
    </ion-list-header>
    <ion-item>
      <ion-label>Alphanumeric</ion-label>
      <ion-radio value="alpha"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Added</ion-label>
      <ion-radio value="added"></ion-radio>
    </ion-item>
</ion-list>
-->
  <h2>Sort By</h2>
  <ion-list radio-group [(ngModel)]="sortMethod" (ionChange)="selectSortMethod()">
    <ion-item>
       <ion-label>Alphanumeric</ion-label>
       <ion-radio value="alphanumeric"></ion-radio>
     </ion-item>
    <ion-item>
      <ion-label>Created</ion-label>
      <ion-radio value="created"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Updated</ion-label>
      <ion-radio value="updated"></ion-radio>
    </ion-item>
  </ion-list>

  <h2>Invert Ordering</h2>
  <ion-list radio-group [(ngModel)]="ordering" (ionChange)="selectOrdering()">
    <ion-item>
      <ion-label>Ascending</ion-label>
      <ion-radio value="ascending"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Descending</ion-label>
      <ion-radio value="descending"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
