<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="openMainConceptNewPage()">
          <ion-icon name="add-circle"  color="secondary"></ion-icon>
          <span color="secondary">New</span>
      </button>
      <button ion-item (click)="openConceptListPage()">
          <ion-icon name="list"></ion-icon>
          My Concepts
      </button>
      <button ion-item (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          Logout
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
